.bold {
  font-weight: bold;
}

.colored {
  font-weight: 700;
  background: -webkit-linear-gradient(
    90deg,
    var(--primary_2) 0%,
    var(--primary) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  i {
    color: var(--primary) !important;
  }
}

.bg_colored {
  background: var(--primary);
  color: #fff;
  border-radius: 5px;
}

.empty {
  color: var(--para);
  font-weight: 600;
  font-size: 15px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.body-padding {
  padding-top: 70px;
}

.underline {
  text-decoration: underline;
  transition: all 0.2s linear;

  &:hover {
    color: var(--primary) !important;
  }
}
