.overlay {
  position: absolute;
  inset: 0;
  background: var(--overlay);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
